/*STYLES GENERAUX*/
*{
    font-family: Avenir, sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    box-sizing: border-box;
}

body{
    background: #c3e6ff;
}

p{
    font-size: 1em;
    line-height: 1.5em;
}

a{
    text-decoration: none;
    color: #000;
}
